@import url('/css/main.css');


header h1 a {
  color: #000;
  text-decoration: none;
  font-variant: small-caps;
  font-size: xx-large;
}

header h1 a:visited {
  color: #000;
}

body{
  font-family: "Sweden Sans", "Book Antiqua", Sweden, sans-serif;
  background-color: #bbeaff;
}

div.letter {
  text-align: center;
}

div.letter img {
  width: 700px;
  object-fit: cover;
}

div.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  margin: 0px;
/*  float: left;*/
  width: 1000px;
}

div.gallery img {
  width: 300px;
  height: auto;
  object-fit: cover;
}
